#root {
  /* width: 75%; */
  margin: 0 auto;
  /* text-align: center; */
}

/* Movie.css */
.movie-details {
  background-image: url('public/22310-the-dark-knight-hd-wallpaper.jpg');
  background-color: rgb(0, 0, 0);
  width: 100vw;
  height: 100vh;
  display: flex;
  background-size: cover;
  background-position: center;
}

.poster {
  width: 50%; 
  margin-right: 20px;
}

.poster img {
  width: 40%;
  height: auto;
  margin-top: 20%;
  margin-right: 30%;
}

.info {
  width: 50%; 
}

.info h1, .info p {
  margin-top: 25%;
  margin-left: -45%;
  color: rgb(241, 233, 233);
  text-align: start;
  color: rgb(252, 249, 249);
}

.info h1 {
  font-size: 24px;
  margin-bottom: 10px;
}

.info p {
  font-size: 18px;
  line-height: 1.5;
  margin-top: 10px;
}


/* Movie.css */
.button-container {
  display: flex;
  justify-content: left;
  margin-left: -45%;
}

.like-button, .dislike-button {
  background-color: inherit;
  border: none;
  cursor: pointer;
  font-size: 24px;
  margin: 0 10px;
  color: white;
}

.like-button.active, .dislike-button.active {
  color: red; 
}

.rating{
    margin-top: 3%;
    margin-left: -63%;
    display: flex;
}

@media (max-width: 768px) {
  .navbar-links {
    display: none; 
  }
}

img, svg {
  margin-left: 13%;
}
